<div class="col-md-6 userContainer">
  <h2>User Details</h2>

  <table class="table table-striped userContent">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td class="hidden">{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.mail }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(user)">
            Delete User
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-warning" routerLink="/user-add">Add User</button>
</div>
