<div class="eventContainer">
  <h2>Event Details</h2>

  <table class="table table-striped eventContent">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>shortDesc</th>
        <th>longDesc</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Precio</th>
        <th>Localizacion</th>
        <th>Ciudad</th>
        <th>Capacidad</th>
        <th>Genero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td class="hidden">{{ event.id }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.shortDesc }}</td>
        <td>{{ event.longDesc }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.schedule }}</td>
        <td>{{ event.price }}</td>
        <td>{{ event.siteName }}</td>
        <td>{{ event.siteCity }}</td>
        <td>{{ event.capacity }}</td>
        <td>{{ event.genre }}</td>
        <td class="buttons">
          <button class="btn btn-danger" (click)="deleteUser(event)">
            Delete
          </button>
          <button
            class="btn btn-warning warningButton"
            routerLink="/event-add/{{event.id}}"
          >
            Modificar
          </button>
        </td>
      </tr>
    </tbody>
    <!-- <a href="/event-add">Añadir un nuevo Evento</a> -->
    <tfoot class="buttons w-100">
      <button
        style="width: 100%; margin-top: 10%"
        class="btn btn-warning"
        routerLink="/event-add"
      >
        Añadir Event
      </button>
    </tfoot>
  </table>
</div>
